<div class="efecto">
  <div [style.fontSize.px]="altura" class="cuadro">
    sapo
  </div>


      <button type="button" (click)="aumentar()" [disabled]= "altura === 500" class="btn">
        aumentar
      </button>
      <button type="button" (click)="disminuir()" [disabled]= "altura === 5" class="btn">
        disminuir
      </button>
      <div class="precaucion">
        <span>{{ txt }}</span>
      </div>
</div>