.efecto{
  width: 80%;
  margin: 0 auto;
}

.cuadro{
  background-color: black;
  padding: 10px;
  width: 50%;
  color: red;
  margin-left: 30px;
  text-align: center;
}

.btn{
  padding: 10px 10px;
  border: none;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 5px;
  
}

.precaucion{
  margin: 15px;
  color: black;
  margin-left: 50px;
}
